

* {
    box-sizing: border-box;
  }

body{
    /* background-color: turquoise; */
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    background-color: rgb(65, 63, 63);
}


.backgroundDrop{
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: rgba(201, 201, 201, 0.5);
}


.main-header{
    width: 100%;
    height: 4.5rem;
    background-color: rgb(65, 63, 63);
    display: flex;
    position: fixed;
    z-index: 2;
    transition: top 0.5s;
    /* display: block; */
    top: 0;
    padding: 0 1.5rem;
    align-items: center;
}

.main-header a{
   
    color: white;
    margin: 0 auto;
        
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
    font-family: "Fakt", sans-serif;
    text-transform: uppercase;

}

.main-header .logo{
    font-size: 14px;
}

.main-header a{
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
    font-family: "Fakt", sans-serif;
    text-transform: uppercase;
}


.header-left{
    display: none;
    flex-basis: 25%; 
    
    font-family: "Fakt", sans-serif;
}

.header-left a{
    font-family: "Fakt", sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    color: white;
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
}



.header-right{
    flex-basis: 25%;  
    
    font-family: "Fakt", sans-serif;
    display: flex;
    justify-content: flex-end;

}

.header-right span{
    font-family: "Fakt", sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.header-right .firstandLast{
    display: none;
}

#cancelOut{
    color: white;
}

.side-menu-toggle-div{
    font-family: "Fakt", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    flex-basis: 25%;
}

.side-menu-toggle{
    border: 1px solid white;
    background-color: transparent;
    
    color: white;
    padding: 0.5rem;
    display: block;
    font: inherit;
    cursor: pointer;
}


/*this is the side menu when the menu gets clicked on*/

.sideMenu{
    width: 300rem;
    height: 100vh;
    max-width: 80%;
    background-color: #2b2b2b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
}


.sideMenuContent{
    background-color: black;
    padding: 15px 15px 15px 10px ;
    height: 100vh;
    width: 10%;
}

.sideMenuContent2{
    /* background-color: blueviolet; */
    
    margin-top: 20%;
    width: 100%;
}

.sideMenuContent p{
    cursor: pointer;
}

.sideMenuContent2 a{
    text-decoration: none;
    /* background-color: #222222;; */
    display: block;
    color: #c5cacc;
    font-size: 1.25em;
    font-family: "HelveticaNeueLT-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 18px 20px;
    cursor: pointer;
    width: 100%;
}

.sideMenuContent2 a:hover{
    background-color: black;
}

.active{
    background-color: black;
}



/* MAIN CONTENT 1 */


.mainContent1{
    margin-top: 4.51rem;
    background: url('/images/miatagang.jpg') no-repeat center center;
    height: 650px;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.textContent{
    
    position: absolute;
    padding: 0 0 0 2rem;
    top: 45%;
}

.mainContent1 h3{
    margin: 0;
    color: white;
    font-size: 10vw;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    
}

.mainContent1 p{
    color: white;
    font-size: 20px;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.mainContent1PC{
    display: none;
}


.mainContent1Wrapper{
    /* background-color: chartreuse; */
    position: absolute;
    top: 35%;
    width: 100%;
    padding: 0 2rem;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
}

.mainContent1Wrapper h3{
    font-size: 80px;
    color: white;
    letter-spacing: 0.5em;
}

/* MAIN CONTENT 2 */
.mainContent2{
    background-color: #e9e8e4;
    /* display: flex; */
}


.picDiv{
    
    padding: 15px;
    /* background-color: cadetblue; */
}

.picDiv img{
    width: 100%;
    border-radius: 50%;
}


.introductionDiv{
    /* background-color: cadetblue; */
    padding: 15px;
    /* flex-basis: 100%; */
}

.introductionDiv h1{
    font-weight: normal;
    font-size: 33px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin: 0;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
}


.introductionDiv div p{
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
    margin-bottom: 0;
}


/* MAIN CONTENT 3 */

.mainContent3{
    background-color: #1d1d1d;
    padding: 60px;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
}


.mainContent3 h3{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.43;
    font-stretch: normal;
    
}
.Content3div{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.part1{
    flex-basis: 100%;
    /* background-color: chartreuse; */
}

.part1 h4{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.part1 p{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    ;
}

/* MAIN CONTENT 4 */


.mainContent4{
    background-color: #e9e8e4;
    padding-top: 20px;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
}

.mainContent4 h3{
    text-align: center;
    color: black;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.43;
    font-stretch: normal;
    
}

.mainContent4 p{
    
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.43;
    font-stretch: normal;
    text-align: center;
    
}

.mainContent4 .newPost{
    /* background-color: lawngreen; */
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.aTagMobileView{
    display: block;
    flex-basis: 80%;
    /* background-color: lightblue; */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.post1 img{
    width: 100%;
    border-radius: 5px;
}

.post1 h5{
    font-size: 18px;
}

.aTagDesktopView{
    display:none;
    
}

.post1Desktop{
    flex-basis: 50%;
    
}

.post1Desktop img{
    width: 100%;
    border-radius: 5px;;
}

.post1DesktopPostInfo{
    flex-basis: 50%;
    /* background-color: lightgreen; */
    text-align: center;
    color: black;
    padding: 0px 20px;
}


footer{
    background-color: #413f3f;
    padding: 30px 30px 67px 20px;
}


.footerLinks{
    /* background: chocolate; */
    display: flex;
    flex-wrap: wrap;
    font-family: "Fakt", sans-serif;
}


.quickLinks{
    /* background-color: coral; */
    flex-basis: 50%;
}

.quickLinksSvg{
    flex-basis: 50%;
    margin-top: 20px;
}


.quickLinks h4{
    font-weight: 600;
    letter-spacing: .7px;
    font-size: 13px;
    color: white;
    margin-bottom: 8px;
}


.quickLinks li{
    list-style: none;
    font-size: 13px;
    letter-spacing: .8px;
    line-height: 1.5;
}

.quickLinks li a{
    text-decoration: none;
    color: white;
}


.quickLinksSvg svg{
    width: 18px;
    fill: white;
    margin: 0 8px 0 0;
}


/*CREATE POST CSS*/
.createPostContent{

    background-color: white;
    margin-top: 4.51rem;
    /* height: 350px; */
}


.createPostContent h1{
    padding: 40px 21px;
    font-size: 28px;
    background-color: 
    #e9e8e4;
    border-bottom: 1px solid #000;
    display: block;
    font-family: 'FaktPro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 100;
    line-height: 1.38;
    letter-spacing: 2px;
    margin: 0px;
}

.signInParagraph{
    padding: 40px 21px;
    font-size: 15px;
    
    /* border-bottom: 1px solid #000; */
    display: block;
    font-family: 'FaktPro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 100;
    line-height: 1.38;
    letter-spacing: 2px;
    margin: 0px;
}

.post-form{
    display: flex;
    flex-flow: column;
    padding: 25px;
    font-family: 'FaktPro', sans-serif;
}

.post-form input{
    padding: 5px;
    margin-bottom: 15px;;
}

.post-form textarea{
    margin-bottom: 15px;
}

.bigBlackButton{
    height: 50px;
    width: 100%;
    padding: 3px 10px 0 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

/* ABOUT US CSS */

.aboutusMain{
    display: flex;
    margin-top: 4.51rem;
    flex-wrap: wrap;
    font-family: "AktivGrotesk", "Fakt", sans-serif;
}


.aboutusMain h1{
    padding: 40px 21px;
    font-size: 28px;
    background-color: 
    #e9e8e4;
    border-bottom: 1px solid #000;
    display: block;
    font-family: 'FaktPro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 100;
    line-height: 1.38;
    letter-spacing: 2px;
    margin: 0px;
}

.aboutusContent{
    background-color: white;
    padding: 50px 21px 40px;
    font-size: 13px;
    letter-spacing: .9px;
    line-height: 1.7;
    width: 100%;
}

.contactContent{
    background-color: white;
    padding: 50px 21px 40px;
    font-size: 13px;
    text-align: center;
    letter-spacing: .9px;
    line-height: 1.7;
    width: 100%;
}

.contactContent h2{
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 1.7px;
    font-weight: normal;
    margin: 0;
}

@media (min-width: 1300px){
    .aTagDesktopView{
        
        flex-basis: 40%;
        
    }
}


/*MEDIA QUERY FOR ANYTHING ABOVE 768PX*/
@media (min-width: 768px){

    .side-menu-toggle-div{
        display: none;
    }

    .header-left{
        display: block;
    }

    .header-right .onlyFirst{
        display: none;
    }
    .header-right .firstandLast{
        display: block;
    }

    .mainContent1 h3{
        font-size: 70px;
    }

    .mainContent2{
        display: flex;
        height: 600px;
    }

    .picDiv{
        flex-basis: 50%;
        padding-bottom: 0px;
        /* background-color: chartreuse; */
    }

    .picDiv img{
        margin-top: 65px;
        height: 60%;
        width: 70%;
        margin-left: 10%;
    }

    .introductionDiv{
        flex-basis: 50%;
    }


    .introductionDiv div{
        /* background-color: cadetblue; */
        margin-top: 80px;
        
    }

    .introductionDiv div p{
        margin-right: 85px;;
    }

    .Content3div{
        justify-content: space-around;
    }


    .part1{
        flex-basis: 25%;
    }


    footer{
        background-color: #413f3f;
        padding: 30px 30px 47px 20px;
    }
    

    .quickLinks{
        flex-basis: 25%
    }

    .quickLinksSvg svg{
        width: 25px;
        margin: 0 10px;
    }

    .quickLinksSvg{
        flex-basis: 50%;
        
        position: relative;
    }

    .svgDiv{
        position: absolute;
        bottom: 0;
        right: 45px;
    }

    .quickLinks h4{
        
        font-size: 20px;
        
    }
    
    
    .quickLinks li{
        
        font-size: 15px;
        
    }



    .aTagDesktopView{
        display: flex;
        flex-basis: 80%;
        /* background-color: lightblue; */
        cursor: pointer;
        height: 280px;
        text-decoration: none;
    }

    .aTagMobileView{
        display: none;
    }

    .post1Desktop img{
        object-fit: cover;
        max-height: 100%;
    }

    .post1DesktopPostInfo{
        font-size: 18px;
    }


    .aboutusMain h1{
        font-size: 55px;
        padding: 60px 25% 50px;
    }

    .aboutusContent{
        padding: 60px 25%;
        font-size: 15px;
    }
    

    .contactContent{
        padding: 60px 25%;
        font-size: 15px;
    }


    .post-form{
        padding: 25px 30%;
    }

}


@media (max-width: 420px){


    .textContent{
        padding-left: 15px;
    }

    .mainContent3{
        padding: 30px;
    }

    .Content3div{
        padding:  0;
    }
}


@media(max-width: 298px){
    .main-header{
        padding: 0;
        color: yellow;
    }

    .main-header .logo{
        font-size: 12px;
    }

}