<%- include('../includes/head.ejs') %>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    

    <div class = "aboutusMain">
        <h1>ABOUT PAGE</h1>
        <div class = "aboutusContent">
            <p>Hello, My name is Chris Cossich and I created this site so that I could be able to share my experiences with you. Ever since i had the privelage to go out and do things on my 
                own or with friends, I have tried to make the most of it.
            </p>
            <p>Originally I thought sharing my expereinces through Instagram and other social media would get the job done. However, I beleive that creating this site is a great way to 
                expand my audience. 
            </p>
            <p>As an individual who is striving to get into the world of front-end development, I created this site as a way to show some of the skills I have aquired throughout my time learning
                how to code. For those who are into development. This site, was developed using Node.js. It utilized MongoDb as its database management for the posts, comments, and users.
            </p>
        </div>
    </div>


    <%- include('../includes/end.ejs') %>