<%- include('../includes/head.ejs') %>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    

    <div class = "aboutusMain">
        <h1>Contact Me</h1>
        <div class = "contactContent">
            <p>Have any questions or suggestions?
            </p>
            <p>If there are any questions that you want to ask me, feel free to email me anytime. Also, if you have any suggestions on imporving the site, please email me anytime.
            </p>
            <h2>My email
            </h2>
            <p>
                chriscossich@gmail.com
            </p>
            <p>I will definetely try my best to reach out to any of you in a timeley manner. </p>
        </div>
    </div>


    <%- include('../includes/end.ejs') %>